a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:after,
blockquote:before,
q:after,
q:before {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*====================리셋코드=================*/

body {
    text-decoration: none;
}

#mobile_header {
    width: 90%;
    height: 56px;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    line-height: 56px;
}
#pc_header {
    width: 100%;
    display: flex;
    height: 60px;
    padding: 0px 40px 0px 40px;
    line-height: 60px;
}
#pc_header > div > ul {
    display: flex;
}

#pc_header > div > p {
    font-size: 40px;
    position: absolute;
    left: 47%;
}
#mobile_header > p {
    font-size: 28px;
}

#mobile_header > div {
    width: 20px;
    height: 20px;
    padding: 12px;
    display: grid;
    gap: 3px;
    margin-top: 12px;
}
main {
    width: 100%;
}
.span {
    width: 100%;
    height: 1px;
    background-color: black;
}
main {
    margin-top: 28px;
}
.main_img {
    flex:1;
    height: 500px;
    position: relative;
    transition-duration: 0.5s;
}
.main_img:hover{
  flex:1.2;
}
.main_img > img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}
.main_img > p {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.help {
    padding: 32px 0;
    border-bottom: 1px solid #e6e6e6;
}
.help-lastitem > li{
    display: flex;
    margin-top: 10px;
}
.s_1 {
    line-height: 40px;
    border-bottom: solid 0.5px;
}
.s_1 > img {
    margin-top: 8px;
}
.s_1 > p {
    margin-left: 12px;
}
.lag {
    color: #b2b2b2;
}

.help > .help-lastitem{
  height: 0px;
  overflow: hidden;
  transition-duration: 0.5s;
  font-size: 14px; 
  line-height: 30px; /*li gap 느낌*/
  color: black;
  padding: 0px 20px;
}

.help > :first-child {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;

}

#mobile_last {
    height: 172px;
    padding: 32px 20px;
    font-size: 12px;
    color: #b2b2b2;
}


#news {
    display: flex;
    justify-content: space-evenly;
    border-bottom: #b2b2b2 solid 1px;
    height: 400px;
}

#news > div:nth-child(1) > p {
    font-size: 12px;
    color: #b2b2b2;
}
#news > div:nth-child(1) > p > span {
    color: black;
    font-weight: bold;
}

#news > div {
    width: 300px;
}
#pc_main{
    margin-top: 30px;
    padding: 30px;
}
.box_b {
    height: 24px;
    margin-top: 32px;
    border-bottom: solid 1px;
}

#first {
    margin-top: 16px;
    font-size: 12px;
}

.s_p {
    font-weight: bold;
}

#news > div > ul > li{
    font-size: 12px;
}


#nnn > ul > div {
    display: flex;
    border-bottom: black solid 1px;
}

#juso {
    color: #b2b2b2;
    font-size: 12px;
    padding: 40px;
}

/*===========1024============*/
@media(min-width:1024px) {
    #mobile_header , #mobile_main {
        display: none;
    }
    main > div {
        display: flex;
    }
}
@media (max-width:1024px) {
    #pc_header , #pc_main {
        display: none;
    }
}
